# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
*.log

# Local IP database files
/data/ip/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example